.home {
  overflow: hidden;

  #home-banner {
    background-color: #eee;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-flow: row nowrap;

    .home-banner-profile-img {
      position: absolute;
    }

    .left,.right {
      flex: 1;
      height: 100vh;
      display: flex;
      flex-flow: column nowrap;

      h1 {

      }

      p {

      }
    }

    .left {
      background-color: #fff;
      h1 {

      }
      p {

      }
    }
    .right {
      background-color: #111;

      h1 {
        color: #fff;
      }
      p {

      }
    }
    .about-more-btn {
      position: absolute;
    }
    .scroll-down-btn {
      position: absolute;
    }
  }
}
